/* ===== GENERAL PAGE STYLING ===== */
body {
    margin: 0;
    padding: 0;
    background: #2b0000;
    font-family: "Trebuchet MS", sans-serif;
    color: #ffcc00;
}

/* ===== TOP TITLE ===== */
header {
    width: 100%;
    padding: 30px 0;
    background: #7a0000;
    text-align: center;
    border-bottom: 4px solid red;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ff6600;
    text-shadow: 0px 0px 10px #ff3300;
}

/* ===== NAV BAR ===== */
nav {
    margin-top: 10px;
}

nav a {
    color: #ffcc66;
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 6px red;
}

/* ===== CONTENT BOX ===== */
.container {
    width: 60%;
    background: #120000;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px red;
    border: 1px solid #400000;
}

/* Section Titles */
h2 {
    color: #ffcc00;
    font-size: 30px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

/* Sub-headings */
h3 {
    color: #ff9933;
    margin-top: 30px;
}

/* Lists */
ul {
    list-style: square;
    color: #ffcc33;
}

li {
    margin: 8px 0;
}

/* Image styling */
img {
    width: 70%;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0px 0px 15px red;
    margin: 10px 0;
}
