@import url('../main.css');
@import url('../assets/fonts/fontlib.css');

/* Style */

body {
    background-color: #909090;
}

h1 {
    font-size: 70px;
    margin: 10px;
    color: #fff;
}

h2 {
    font-size: 45px;
    margin: 10px;
    margin-left: 25px;
    color: #fff;
}

p {
    font-size: 20px;
    margin-left: 50px;
    color: #fff;
}