/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family:cinzel;
  background: rgb(26, 133, 4);
  color: black;
}

/* BANNER (now taller so it actually shows the art) */
.banner {
  width: 100%;
  height: 160px; /* LONGER like you asked */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

/* TITLE */
.site-title {
  text-align: center;
  font-size: 42px;
  margin-top: -20px;
  margin-bottom: 25px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #4e330a;
  padding: 15px 0;
  border-bottom: 1px solid #553607;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
}

/* CARD SECTIONS */
.card {
  width: 80%;
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background: #4e330a;
  border: 1px solid #582a04;
  border-radius: 12px;
}

/* GALLERY */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #491e04;
}

/* Poster */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.Poster-grid img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #491e04;
}

/* FOOTER */
footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background: #5a220c;
  border-top: 1px solid #6b1d0a;
}
